body{
	width: 60em;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	text-align: center;
}

.contenidoppal{
	display: flex;
}

.izda{
	width: 16em;
}

.dcha{
	margin-left: 1%;
	width: 44em;
}

.trescolumnas{
	display: flex;
	padding: 0px;
}

.trescolumnas li{
	flex-basis: 33%;
	list-style: none;
	padding: 0px;
	margin-left: 1%;
}